* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #FFCE30;
    --color-active: #288BA8;
    --color-back-active: #746AB0;
    --color-back-inactive: #c4c6c9;
    --color-titulos: #E83845;
    --color-texto-blanco: #FFF;
    --color-gradient: linear-gradient(
    to right,
    var(--color-theme),
    var(--color-back-active)
    );
}

/*SECCION PELICULAS FAVORITAS*/

#sec-favorities-list {
    padding: 60px;
}

.contenedorPeliculasFavoritas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    max-width: 1000px;
    margin: 0 auto;
}


div.pelicula > p {
    font-size: 12px;
    color: var(--color-active);
    font-family: 'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
}

div.pelicula > h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

div.pelicula > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.hidden{
    display: none;
}

.mensaje-container{
    padding-left: 30%;
}

.warning{
    background-color: #ffc107;
    color: white;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.button {
    background: #7f8c8d;
    color: white;
    display: block;
    font-size: 15px;
    margin: 15px auto;
    padding: 10px 0;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}

.button span {
    margin-right: 10px;
}

.button.medium {
    width: 150px;
}

.button.radius {
    border-radius: 50px;
}

.button:hover {
    box-shadow: 0px 0px 0px;
}