* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}

:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #FFCE30;
    --color-active: #288BA8;
    --color-back-active: #746AB0;
    --color-back-inactive: #c4c6c9;
    --color-titulos: #E83845;
    --color-texto-blanco: #FFF;
    --color-gradient: linear-gradient(to right,
            var(--color-theme),
            var(--color-back-active));
}

#sec_ayuda{
    display: flex;
    flex-direction: column;
    padding-inline: 10rem;
}

#sec_ayuda > h2 {
    align-items: center;
}

#sec_ayuda > p{
    text-align: start;
}

/*SECCION CONTACTO*/

form > div.form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.wide-input {
    width: 500px;
    height: 30px;
}

.tall-input{
    height: 170px;
    resize: none;
}

/*SECCION BOTONES*/

.botones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 30px;
}

.botones button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: rgb(1, 76, 33); /*Los colores los estoy poniendo medio a mano porque no los encontre en ningun lado*/
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}